body{
	font-family: 'Fjalla One', sans-serif;
	padding: 50px 0px 0px 0px;
	z-index: 0;
}
.row-header{
	margin: 0px auto;
	padding: 0px auto;

}
.row-content{
	margin: 0px auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;

}
.page-footer{
	background-image: url('../../images/Go-Green.png');
	margin-top: 0px auto;
	padding: 50px 0px 50px 0px;
	color:black;
	width:100%;
	font-family: 'Fjalla One', sans-serif;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;

}
.jumbotron{
	padding: 70px 0px 70px 0px;
	margin: 0px auto;
	background-color:#ffffff ;
	color: yellow;
}
address{
	font-size: 94%;
	margin: 0px;
	color: black;
}
.navbar-light,.dropdown-menu{
	background-color: #ffffff;
}
.navbar-brand{
	padding: 0px 150px 0px 0px;
}
.nav-item{
	padding: 0px 30px 0px 0px;
}
.img-fluid{
  width: 100%;
  height: 400px;
}

.after {
  /*display: block;
  position: relative;*/
  background-image: linear-gradient(to left,rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  margin-top: -400px;
  height: 400px;
  width: 100%;
  content: '';
  /*opacity: 0.5;
  animation: fadeInFromNone;
  animation-duration: 5s;
  animation-iteration-count: infinite;*/
}
img {
  /*  To contain the image to the confines of the div  */
  max-width: 100%;
}
#view{
	animation-duration: 7s;
	animation-iteration-count: infinite;
}
.arrow{
	font-size: 70px;
	color: black;
	opacity: 0.5;
    margin-top: 170px;
    cursor: pointer;

}
.arrow:hover{
	opacity: 1;
}
/*@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 0.4;
    }
}*/

#subHeader{
	
	animation-duration: 4s;
	animation-delay: 3s;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
}
#header3{
	
	animation-duration: 4s;
	animation-delay: 3s;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
}
#header{
	
	margin-top: -330px;
	animation-duration: 6s;
	animation-delay:1s;
	font-family: 'Anton', sans-serif;
	font-size: 50px;
}
.headColor{
	color: red;
}
p{
	margin-top:50px;
	font-size:20px;
	text-align:center;
	color:grey;
	font-family: 'Varela Round', sans-serif;
}
.footer{
	margin-top: 50px;

}
/*.footerImg{
	margin-top: -400; 
	opacity: 0.5;
}*/
.points{
	display:inline-block;
	position: absolute;
    top: 100%;
    left: 70%;
    height: 30%;
    width: 50%;
    margin: -10% 0 0 -25%;
}
.point{
	display:inline-block;
	margin-top:70px;
	padding: 0px 10px 0px 0px;
	color: #bbb;
	transition: color 0.6s ease;

}
.dropdown-menu{
	font-size: 13px;
}
.copyright{
    background-image: linear-gradient(to left,rgba(255,255,255,0.5),rgba(255,255,255,0.5));
    margin-top: -30px;
    height: 40px;
    width: 100%;
    content: '';
    opacity: 0.4;


}
.footer-copyright{
	 margin-top: 20px;
	 font-size: 13px;
}
.highlight, .point:hover {
  animation: change 0s 7s forwards;
  color: #717171;
}
.img-fluid{
   margin-top: 100px;
}
.links{
	color: #8d1d1d;
	font-size: 17px;
}
@keyframes change {
  to   { color: #bbb; }
}
@media screen and (min-width:420px) and (max-width:620px){
	.points{
	display:inline-block;
	position: absolute;
    top: 90%;
    left: 60%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
	
}
